{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
Home
{% endblock %}

{% block content %}

{% csrf_token %}

Report

<form action="/reports/result" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Filtra">
</form>

{% endblock %}

{% block scripts %}

<script src="{% static 'assets/js/custom.js' %}"></script>

<script type="text/javascript">
    activateDateTimePicker("#id_from_time");
    activateDateTimePicker("#id_to_time");
</script>
{% endblock %}
