{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block title %}
Categories
{% endblock %}

{% block content %}

<h2>{{ form_description }} Categoria</h2>
<form action="/manage/categories" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="cid" value="{{category_id}}" />
    <input type="submit" value="Salva">
</form>
<hr />
<h2>Lista delle tue Categorie</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </tr>
    </thead>
    <tbody>
        {% for c in categories %}
            <tr class="category">
                <td>{{c.name}}</td>
                <td>{{c.description}}</td>
                <td class="action">
                    <a href="/manage/categories?cid={{c.id}}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td class="action">
                    <a href="#" class="deleteCategory" data-category-id="{{c.id}}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}


{% block scripts %}

<script type="text/javascript">
    function deleteCategory() {
        jQuery('.deleteCategory').on('click', function(e) {
            e.preventDefault();
            var $this = jQuery(this);
            var categoryId = $this.attr('data-category-id');
            var token = jQuery('input[name=csrfmiddlewaretoken]').val();
            var row = $this.closest('.category');
            jQuery.ajax({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", token);
                },
                method: 'DELETE',
                url: '/manage/categories/',
                data: {
                    categoryId: categoryId
                },
                dataType: 'json',
                contentType: 'application/json; charset=UTF-8',
                success: function(data) {
                    console.log(row);
                    row.remove();
                }
            });
        });
    }

    deleteCategory();

</script>
{% endblock %}
